
   #main{position: relative;}
   .parentpic{position: absolute;
top: 10px; left: 20px;}
#main>img{width: 100%;}
    #product1>h1{color: #2f3337;}
    #product1>div{display: flex;}
    #product1{text-align: center; }
    .child1 div{margin: 10px;}
    .pic{position: relative;}
    .upper{position: absolute;
    top: 5px;left: 10px;}
    .pic h2{color: #2f3337;}
    #brand{text-align: center;
    display: grid;
    grid-template: repeat(3,1fr);
     margin-bottom: 30px ;}
    #brand h1{color: #2f3337;}
    #main2{position: relative;}
    #main2>img{width: 100%;}
    .main2pic{position: absolute;
    top: 5px; left: 10px;}
    #product2>div{text-align: center;
        display: grid;
        grid-template-columns: repeat(6,1fr);}
    #product2 img{width: 100%;} 
    #product2>h1{text-align: center;
    color: #2f3337;} 
    #product2 h4{color: #837b88;
    font-size: large;}  
    #product3>div {display: flex;}
    #product3>h1{text-align: center;
    color: #2f3337;}
    #product3 img{width: 100%; }
    .child3 div{background-color: #f5f6f7;
     margin: 6px}
     .child3 h2,p{margin: 20px;
    color: #2f3337;}
     .child3 p{font-size:medium;
    color: #3e4359;}
     #main3{position: relative;}
     .main3pic{position: absolute;
    top: 5px; left: 10px;}
    #main3>img{width: 100%;}
    #product4>div{display: flex;}
    #product4>h1{text-align: center;
    color: #2f3337;}
    
    #child4 div{background-color: #f5f6f7;
    margin: auto;}
    #child4 h2{margin: 1% 8% -2% 6%;
    color: #2f3337;}
    #child4 p{font-size: large;
    color:  #82544d;}
    #product5>div{display: flex;}
    #product5>h1{text-align: center;
    color:  #2f3337;}
    #child5 div{background-color: #f5f6f7;
    margin: 0px 10px 0px 10px;}
    #child5 img{width: 100%;}
    #child5 p{margin: 5px 5px 15px 20px;
    font-size: large; color: #837b88;}
    #child5 h2{margin: 8px 0px 8px 20px; color: #2f3337;}
    #product5 button{border-radius: 5px;
    background-color: #2f3337;font-size:large; 
    color:white;
    padding: 10px 20px 10px 20px;}
    #product5{width: 100%;
    margin: auto;}
    .btn{margin: 30px 42% 45px 45%;}
    
    #lasthd{display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;}
    #lastpart{text-align: center;
    margin: auto;}
    #lastpart h1{color: #2f3337;}
   #lasthd>div{background-color: #f5f6f7;
margin:10px 10px 10px 10px;}
   #lasthd h2{color: #545658;}