
*{
    font-family: 'Anek Devanagari', sans-serif;
}
#Product_categorization{
    font-size:15px;
    color:darkslategray;
}
#Product_Parent{
display: grid;
grid-template-columns:40% 60%;
padding:20px 60px;
gap:50px;
}

#product_image img{
    width:100%;
    height:500px;  
    padding-bottom:30px;
}
#product_image img:hover
{
    transform: scale(1.1);
    
    
}


#social_Media{
display: flex;

}
#social_Media> div>a{
    border:0px;
    
}
#social_Media> div>a>img{
    height:30px;
    width:30px;
    padding-right: 20px; 
    padding-top:10px;
}

#Product_Details{
    width:450px;
    margin-top:-20px;
}
#Product_name{
    font-size: 21px;
    font-weight:lighter;
    
}
#Customer_ratings{
    display: flex;
}
#rating_image{
    width:100px;
    height:25px;

}
#Customer_ratings > p{
margin-left:20px;
margin-top:4px;
color:slategrey;
font-size: 13px;;
}

#Product_price{
    font-size: 20px;
    color:brown;
}
#choose_size{
    margin-top:35px;
    font-size: 15px;
}
table{
    border-spacing: 10px;
}
td:hover{
    background-color:black;
    color:white;
    cursor: pointer;
}
#size_table > td{
    border-color: slategrey;
    border: solid 0.5px slategrey;
    width:80px;
    font-size:13px;
    height:40px;
    margin-top:20px;
    text-align: center;
    color:slategrey;
}


#color_table>td{
    border-color: slategrey;
    border: solid 0.5px slategrey;
    width:80px;
    font-size:13px;
    height:40px;
    margin-top:20px;
    text-align: center;
    color:white;
}
#ProductCart{
    margin-top:40px;
}
#pquanitiy{
    width:200px;
    height:30px;
    border-color: gray;
    font-size: 13px;
}

#AdtoCart{
    background-color:seagreen;
    border: none;
    color:white;
    border-radius: 5px;
    margin-left:30px;
    width:180px;
    height:35px;
    
}
#AdtoCart >a{
    color:white;
    text-decoration: none;
}
